@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fly1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px); /* White Hat: Higher bounce */
  }
}

@keyframes fly2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Red Hat: Shorter bounce */
  }
}

@keyframes fly3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px); /* Black Hat: Bounce with slight horizontal shift */
  }
}

@keyframes fly4 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* Yellow Hat: Highest bounce */
  }
}

@keyframes fly5 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px) translateX(-10px); /* Green Hat: Bounce with slight horizontal shift */
  }
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}

.animate-fly-1 {
  animation: fly1 2s ease-in-out infinite;
}

.animate-fly-2 {
  animation: fly2 1.5s ease-in-out infinite;
}

.animate-fly-3 {
  animation: fly3 2.2s ease-in-out infinite;
}

.animate-fly-4 {
  animation: fly4 1.8s ease-in-out infinite;
}

.animate-fly-5 {
  animation: fly5 2.5s ease-in-out infinite;
}